@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

}

header{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: whitesmoke;
    align-items: center;
    height: 50px;
    gap:20px;
   
}
.logo{
    order:3;
    margin-left:auto;
    height: 25px;
    margin-right:20px;
}
.navEle{
    display: inline-block;
    padding:0px 10px;
} 

.navEle>a{
    color: aliceblue;  
    text-decoration: none;

} 
.Signup{
    order:2;
    background-color: aliceblue;
    margin-right: 10px;
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
    font-family: "Montserrat",sans-serif;
    cursor: pointer;
    margin-right:auto;
    
}
.navParent{
    order:1;
    
}
#navEle1{
    padding-left:20px;
}